*.cm*
*.a
*.o
*.opt
*.annot
*.so
*~
tryocaml/js_of_ocaml/compiler/js_of_ocaml
tryocaml/js_of_ocaml/lib/libjs_of_ocaml.a
tryocaml/js_of_ocaml/lib/stubs.c
tryocaml/js_of_ocaml/runtime/runtime.js
tryocaml/js_of_ocaml/lib/deriving_json/
tryocaml/log
tryocaml/toplevel.byte
tryocaml/tutorial/doc/
tryocaml/tutorial/tutorial
tryocaml/tutorial/lessons.ml
tryocaml/tutorial/make_lessons
*.byte
#*#
