#tryocaml {
    margin-left: 25%;
    margin-right: 25%;
}

#toplevel {
    font-size: 12px;
    background-color: #98FB98;
    font-family: "Courier New", Courier, monospace;
    min-width: 300px;
    min-height: 50px;
    overflow: auto;
    /* overflow-y: hidden; */
    /* border-width: 2px;  */
    /* border-style: solid;  */
    /* border-color: #000000;  */
}

textarea {
    border: 0;
    background: transparent;
    resize: none;
    outline: none;
    /* overflow-y: hidden; */
    font-family: "Courier New", Courier, monospace;
}

#tryocaml-title {
    text-align: center;
    background-color: #ADD8E6;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: Impact, "Arial Black", Arial, Verdana, serif;
    font-weight: bold;    
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
}

#infos {
    background-color: #FF6347;
    font-weight: bold;
    margin-top: 50px;
    border-width: 2px; 
    border-style: solid; 
    border-color: #000000; 
}

#bottom {    
    text-align: center;
    /* background-color: #333366; */
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
}