#tryocaml {
    margin-left: 25%;
    margin-right: 25%;
}

#container {   
    overflow: auto;
    overflow-x: hidden;
    border:0;
    background-color: #98FB98;
    font-weight: bold;    
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
    height: 350px;
}

#output-area {
    overflow: auto;
    border: 0;
    background-color: #98FB98;
    font-weight: bold;    
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
  
}

#toplevel {
    width: 300px;
    height: 50px;
}

textarea {
   width: 800px;
    border: 0;
    background: transparent;
    resize: none;
    outline: none;
    font-family: "Courier New", Courier, monospace;
}

#tryocaml-title {
    text-align: center;
    background-color: #ADD8E6;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: Impact, "Arial Black", Arial, Verdana, serif;
    font-weight: bold;    
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
}

#infos {
    background-color: #FF6347;
    font-weight: bold;
    margin-top: 50px;
    border-width: 2px; 
    border-style: solid; 
    border-color: #000000; 
}

#bottom {    
    text-align: center;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
}
