body {
  font-family: "DejaVu Sans",sans-serif;
  background-color: #EEE;
}

#toplevel {
    margin-left: 5px;
    width: 300px;
    height: 50px;
    float: left;
}

#sharp:before {
    content: "#";
    margin-top: 5px;
    margin-left: 6px;
    float: left;
    color: #CCC;
}

#toplevel textarea {
    width: 460px;
    height: 36px;
    border: 0;
    background: transparent;
    resize: none;
    outline: none;
    font-size: 14px;
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: Courier, monospace;
}

#toplevel-container {
   padding: 10px;
   height: 500px;
   overflow: auto;
   overflow-x: hidden;
   font-family: Courier, monospace;
   color: #CCC;
   background-color: black;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 600px;
  background-color: white;
}

.footer {
   border-top: 1px #CCC solid;
   padding-top: 10px;
   padding-bottom: 10px;
}

pre {
    background: transparent;
    color: #CCC;
    margin-bottom: 0;
    padding-bottom: 0;
}

table td {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
   margin-top: 20px;
   margin-bottom: 20px;
}

.copyright, .ressources {
    width: auto;
    text-align: center;
}

.copyright {
    padding-top: 30px;
    font-size: 10px;
}

.copyright a {
    color: black;
}