#tryocaml {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
}

#container { 
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
    overflow-x: hidden;
    border:1;
    border-style: solid;
    background-color: #DCDCDC;
    font-weight: bold;    
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    height: 300px;
}

#output-area {
    border: 0;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
  
}

#toplevel {
    margin-left: 5px;
    width: 300px;
    height: 50px;
    float: left;
}

#sharp:before {
    content: "#";
    margin-top: 2px;
    float: left;
}

textarea {
    width: 800px;
    border: 0;
    background: transparent;
    resize: none;
    outline: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

#tryocaml-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: Impact, "Arial Black", Arial, Verdana, serif;
    font-weight: bold;    
}

.infos {
    background-color: gray;
    font-weight: bold;
    margin-top: 30px;
    border-width: 2; 
    border-style: solid; 
    border-color: #000000; 
}

.infos_box {
    background-color: #DCDCDC;
    font-weight: bold;
    margin-top: 30px;
    border-width: 2; 
    border-style: solid; 
    border-color: #000000; 
    width: 351px;
    height: 230px;
}

.infos_caml {
    background: url(images/ocaml_code.png);
    background-repeat: no-repeat;
    background-color: white;
    font-weight: bold;
    margin-top: 30px;
    border-width: 2; 
    border-style: solid; 
    border-color: #000000; 
    width: 351px;
    height: 230px;
}

.infos_title {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.infos_lessons {
    background-color: #DCDCDC;
    font-weight: bold;
    margin-top: 15px;
    border-width: 1; 
    border-style: solid; 
    border-color: #000000; 
}

p.sub-infos {
    text-align: center;
    font-weight: bold;
}

#social-network {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

#bottom {    
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

#fantasy {
    font-family: fantasy;
}

.code {
    font-family: monospace;
    font-size: 15px;
}      

